*{
  margin: 0;
  padding: 0;

}
.App{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
  font-family: "Oxygen", sans-serif;
  flex-wrap: wrap;

}

.cont{
  margin-top: 40%;
}
